 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

 body {

     font-family: 'Baloo 2', cursive;
     margin: 0px;
     padding: 0px;
     background: url('img/gym.jpg');
     background-size: 100%;

 }

 .left {
     color: aliceblue;
     position: absolute;
     left: 334px;
     top: 7px;
     display: inline-block;

 }

 .left img {

     width: 115px;
     border-radius: 100px;
     filter: invert(100%);
     text-align: center;
     font-style: oblique;

 }


 .mid {

     font-size: 15px;
     display: block;
     width: 600px;
     margin: 32px auto;

 }

 .right {
     position: absolute;
     right: 125px;
     top: 33px;
     display: inline-block;

 }

 .navbar {
     display: inline-block;
 }

 .navbar li {
     font-size: 15px;
     display: inline-block;
 }

 .navbar li a {
     color: aliceblue;
     text-decoration: none;
     padding: 34px 23px;
 }

 .navbar li a:hover,
 .navbar li a:active {
     text-decoration: underline;
     color: grey;
 }

 .btn {
     font-size: 15px;
     border: 2px solid grey;
     border-radius: 6px;
     margin: 0px 2px;
     color: aliceblue;
     padding: 3px 3px;
     cursor: pointer;
     background-color: grey;

 }

 .btn:hover,.btn:active {
     background-color: black;
     text-decoration: underline;
 }

 .container {
     margin: 111px 22px;
     padding: 15px 30px;
     width: 33%;
     border: 5px solid white;
     color: aliceblue;
     border-radius: 10px;
 }

 .form-group input {
     font-family: 'Baloo 2', cursive;
     text-align: center;
     margin: 11px auto;
     display: block;
     padding: 1px;
     width: 410px;
     font-size: 25px;
     border-radius: 8px;

 }

 .container :hover {
     background-color: rgb(83, 73, 73);
     border-radius: 15px;
 }

 .container h1 {
     text-align: center;
 }

 .container button {

     display: block;
     width: 410px;
     margin: auto;
 }

 .container input:hover {
     color: rgb(203, 27, 27);
 }